.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2100;
    cursor: pointer;

    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
    }
}

.login-box {
    width: 400px;

    .checkbox {
        padding: 0px 20px;
    }

    .login-logo {
        font-size: 50px;
    }

    .login-box-body {
        //.login-box-msg {
        //    font-size: 15px;
        //    padding: 0 10px 30px 10px;
        //}

        .has-feedback:nth-child(1) {
            margin-bottom: 30px;
        }

        .has-feedback:nth-child(2) {
            margin-bottom: 30px;
        }
    }
}
